/* Estilos generales */
body {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F5F5DC; 
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
/*BARRA DE NAVEGACION*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container_navbar {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.navbar,
.navbar > .container_navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .navbar,
.navbar > .container_navbar {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #A9A9A9;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container_navbar {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container_navbar {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container_navbar {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container_navbar {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
    background-color: transparent;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #ffffff;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu.active {
  display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar img {
  width: 150px; 
  height: 50px; 
  object-fit: cover; /* Esto asegura que la imagen se recorte para llenar el contenedor */
  overflow: hidden; /* Esto recorta cualquier parte de la imagen que se salga del contenedor */
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: rgb(121, 42, 42);
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: rgb(121, 42, 42);
}

.navbar .navbar-header > a span {
  color: rgb(121, 42, 42);
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
} 


main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px; /* Ajusta este valor según la altura de tu navbar */
}

h2 {
  margin-bottom: 20px;
}

label {
  font-size: 1.2em;
  color: #34495e; /* Azul grisáceo */
  margin-right: 10px;
}

select {
  padding: 5px;
  font-size: 1em;
  margin-bottom: 20px;
}

.seccion {
  display: none;
  margin-top: 20px;
}

.seccion.active {
  display: block;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
} 
.container_small_table{ /*ESTILO PARA TABLA PEQUEÑA*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  width: 90%;
  margin: 20px auto;
}
.machine-box {
  background-color: #4cae4c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}
/* Estilos de los elementos */
.item {
  background-color: #D2B48C; /* Color de fondo de los elementos */
  color: #333333; /* Color del texto de los elementos */
  padding: 20px; /* Espaciado interno de los elementos */
  margin: 10px; /* Espaciado externo entre los elementos */
  border-radius: 5px; /* Bordes redondeados de los elementos */
  text-align: center; /* Alinear texto en el centro */
  flex: 1 1 calc(20% - 40px); /* Ancho del 20% menos el margen */
  box-sizing: border-box; /* Incluir padding y border en el cálculo del ancho */
}

/* Estilos para otros elementos */
.machine-box {
  background-color: #4cae4c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de inicio de sesión */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #302b29;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Estilo para el campo de fecha */
#selector-inicio-semana {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
/* Estilo para el campo de selección de mes */
#selector-inicio-mes {
  padding: 10px;
  font-size: 1em;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.reportsContainer{
  display: block;
}

/* Estilos para hacer la tabla deslizable horizontalmente */
.table-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  max-width: 100vw;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  cursor: grab;
}

.table-container table {
  border-collapse: collapse;
  min-width: 600px;
}

.table-container th, .table-container td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.table-container thead {
  background-color: #f2f2f2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #d0e6f1; /* Azul pastel */
    color: #333;
}

td {
    background-color: #f9fbfc;
}

th, td {
    text-align: center;
}


/* Estilo para el logo */
#logo {
  width: 150px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
  object-fit: cover; /* Esto asegura que la imagen se recorte para llenar el contenedor */
  overflow: hidden; /* Esto recorta cualquier parte de la imagen que se salga del contenedor */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  #logo {
      position: absolute;
      right: 10px; /* Ajusta según sea necesario */
      top: 10px; /* Ajusta según sea necesario */
  }
  
  .container_navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
